
.navigation{
	align-items: center;
}

.navigation li{

	display: inline-block;
	padding: 6px;
}
li .custom-btn{
	background-color: rgb(83, 64, 25);
	border: 3px groove rgb(199, 152, 152);
	min-width: 100px;
}
  li:active {
	background-color: lightcoral;
}
 
